:host{
    height: 100%;
    display: flex;
    flex-direction: column;
    .sidenav-container{
        height: 100%;
        .sidenav-menu{
            width: 300px;
	        box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
        }
        .sidenav-content{
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }
	.menu-toggle{
		margin-right: 10px;
	}
    .restourants-nav{
        h3 {
            border: none;
            font-size: 10px;
            letter-spacing: 1px;
            line-height: 24px;
            text-transform: uppercase;
            font-weight: 400;
            margin: 0;
            padding: 0 16px;
            background: rgba(0,0,0,.32);
            color: hsla(0,0%,100%,.87);
        }
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            li {
                border-bottom-width: 1px;
                border-bottom-style: solid;
                margin: 0;
                padding: 0;
                border-color: rgba(0,0,0,.06);
                a{
                    box-sizing: border-box;
                    display: block;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 47px;
                    text-decoration: none;
                    transition: all .3s;
                    padding: 0 16px;
                    position: relative;
                    color: rgba(0,0,0,.54);
                    &:hover, &.active {
                        background: #fafafa;
                        color: #3f51b5;
                    }
                    &.active{
                        font-weight: 600;
                    }
                }
            }
        }
    }
}