:host{
    height: 100%;
    display: flex;
    flex-direction: column;
    .sidenav-container{
        height: 100%;
        .sidenav-menu{
            width: 300px;
	        box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
        }
        .sidenav-content{
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }
	.menu-toggle{
		margin-right: 10px;
	}
}